
.carAdminBody{
    position: absolute;
    border:2px solid black;
    box-shadow: #4f5050;
    left:25vw;
    top: -3vh;
    overflow-x: hidden;
    width: 800px;
}

#carAdminForm{
    border-color: black;
    box-shadow: #4f5050;
}

.carAdminBody h1{
    display: inline-block;
}

#btnAddVehicle{
    position: absolute;
    top: 4vh;
    left:33vw;
}

#btnViewVehicle{
    position: absolute;
    top: 4vh;
    left: 43vw;
    width: 126px;
}