
.carAdminBody{
    position: absolute;
   /* border:2px solid #686464;*/
    box-shadow:0px 0px 20px rgba(1, 10, 24, 0.1);
    left:23vw;
    top: -3vh;
    overflow-x: hidden;
    width: 800px;
    height: 100%;
}

#carAdminForm{
    border-color: black;
    box-shadow: #4f5050;
}

.carAdminBody h1{
    display: inline-block;
    font-family: 'Space Mono', monospace;
}

#btnAddVehicle{
    position: absolute;
    top: 4vh;
    left:33vw;


}

#btnViewVehicle{
    position: absolute;
    top: 4vh;
    left: 43vw;
    width: 126px;

}
#btnViewVehicle a{
    text-decoration: none;
    color: white;
}
#btnAddVehicle a{
    text-decoration: none;
    color: white;
}