h1{
    display: inline-block;
    font-family: 'Space Mono', monospace;
}

body{
    position: absolute;
    /* border:2px solid #686464;*/
    box-shadow:0px 0px 20px rgba(1, 10, 24, 0.1);
    left:25vw;
    top: 2vh;
    overflow-x: hidden;
    width: 870px;
    height: 600px;
}
#Admin_div{
    position: absolute;
    height: 350px;
    top: -4vh;
    width: 750px;
    box-shadow:0px 0px 20px rgba(57, 11, 90, 0.27);
}

#btnAddAdmin{
    position: absolute;
    top: 40vh;
    left:44vw;

}
#btnAddAdmin a{
    text-decoration: none;
    color: white;
}

/*
#Driver_div{
    position: absolute;
    top:50vh;
    height: 250px;
    width: 750px;
    box-shadow:0px 0px 20px rgba(57, 11, 90, 0.27);
}

#btnAddDriver{
    position: absolute;
    top:30vh;
    left:44vw;

}
#btnAddDriver a{
    text-decoration: none;
    color: white;
}*/
