
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}


#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(32, 49, 80, 0.9);
}

#header .logo img {
    max-height: 60px;
    padding-left:0 ;


}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #f3d410;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #f3d410;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background:#f3d410;
}

#hero {
    width: 100%;
    height: 40vh;
    /* background: #37517e;*/
    background: url("../../images/keychange picture.jpeg");
    background-position: center;
    background-size: cover;

}

#hero .container {
    padding-top: 72px;
}
#hero h1{
    position: absolute;
    left:3vw;
    margin: 0 0 10px 0;
    font-size: 57px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/



.carDetails .section-header {
    margin-bottom: 40px;
}

.carDetails .carDetails-carousel,
.carDetails .carDetails-slider {
    overflow: hidden;
}

.carDetails .carDetail-item {
    text-align: center;
}

.carDetails .carDetail-item .carDetail-img {
    width: 500px;
    /*border-radius: 50%;*/
    /*border: 4px solid #fff;*/
    margin: 0 auto;
}

.carDetails .carDetail-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.carDetails .carDetail-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}

.carDetails .carDetail-item .quote-icon-left,
.carDetails .carDetail-item .quote-icon-right {
    color: #90c8fc;
    font-size: 26px;
}

.carDetails .carDetail-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.carDetails .carDetail-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.carDetails .carDetail-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.carDetails .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.carDetails .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0563bb;
}

.carDetails .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0563bb;
}

@media (min-width: 992px) {
    .carDetails .carDetail-item p {
        width: 80%;
    }
}










/*



!*
!*--------------------------------------------------------------
# Header
--------------------------------------------------------------*!*!
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}


#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(32, 49, 80, 0.9);
}

#header .logo img {
    max-height: 60px;
    padding-left:0 ;


}

!*!*--------------------------------------------------------------
# Navigation Menu
 --------------------------------------------------------------*!*!

 .navbar {
     padding: 0;
 }

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #f3d410;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #f3d410;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background:#f3d410;
}

#hero {
    width: 100%;
    height: 40vh;
   !* !* background: #37517e;*!*!
background: url("../../images/keychange picture.jpeg");
    background-position: center;
    background-size: cover;

}

#hero .container {
    padding-top: 72px;
}
#hero h1{
    position: absolute;
    left:3vw;
    margin: 0 0 10px 0;
    font-size: 57px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}







.section-title{
    color: #14131C;
    font-size: 50px;

}

!*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*!
.testimonials .section-header {
    margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
    width: 500px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ffffff;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #14131C;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}



.testimonials .testimonial-item p {
    !*font-style: italic;*!
    margin: 0 auto 50px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #14131C;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #14131C;
}

@media (min-width: 992px) {
    .testimonials .testimonial-item p {
        width: 80%;
    }
}

!*Car Details*!
.car-details .h6{
    color: #FFFFFF;
    font-size: 20px;

}

.car-details .p{
    color: #FFFFFF;
    font-size: 20px;
}
*/
