


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}


#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(32, 49, 80, 0.9);
}

#header .logo img {
    max-height: 60px;
    padding-left:0 ;


}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #f3d410;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #f3d410;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background:#f3d410;
}

#hero {
    width: 100%;
    height: 40vh;
    /* background: #37517e;*/
    background: url("../../images/keychange picture.jpeg");
    background-position: center;
    background-size: cover;

}

#hero .container {
    padding-top: 72px;
}
#hero h1{
    position: absolute;
    left:3vw;
    margin: 0 0 10px 0;
    font-size: 57px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}




/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.services .icon-box .icon {
    margin-bottom: 10px;
}

.services .icon-box .icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
}

.services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
    color: #47b2e4;
}

#lineHome{
    content: "";
    position: absolute;
    display: block;
    width: 270px;
    height: 2px;
    background: #CCCCCC;
    left: 0;
    right: 0;
    margin: auto;
}

/*Button*/
.btn_RentIt{
    width: 100px;
    border-radius: 7px;
    border-color: #333333;
    background: white;
}
.btn_RentIt:hover{
    width: 100px;
    border-radius: 7px;
    border-color: #444444;
    /*5e6bef*/
    background: #444444;
    color: white;
}

/*Drop Down*/
/*
#carStoreDropDown1{
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    !*left: 0;*!
    !*top: 20px;*!
}

#carStoreDropDown2{
    position: relative;
    !*top: 80px;*!
    !*left: -190px;*!
}
*/

/* Slid Bar */
.dashboard .news .post-item+.post-item {
    margin-top: 15px;
}

.dashboard .news img {
    width: 80px;
    float: left;
    border-radius: 5px;
}

.dashboard .news h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard .news h4 a {
    color: #012970;
    transition: 0.3s;
}

.dashboard .news h4 a:hover {
    color: #4154f1;
}

.dashboard .news p {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

#goToCartButton{
    background: #333333;
    color: white;
}

#goToCartButton:hover{
    background: #444444;
    color: white;
    border: 2px solid #444444;
}